
/* ini adalah style jumbotron */
.jumbotron {
    background-image: url(slide2.jpg);
    background-size: cover;
    height: 770px;
    text-align: left;
    margin-top: -120px;
}

.jumbotron .display-4 {
    color: #1982F9;
    margin-top: 250px;

}
.jumbotron p {
    color: #1982F9;
    font-size: 20px;
}
/* .jumbotron hr{
    border-color: #F05F40;
    width: 70px;
    border-width: 3px;
    text-align: left;
} */
.jumbotron .btn {
    background-color:#1982F9 ;
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 20PX;
}

.card .img{
    height:"400px";
   width:"400px;"
}
